.cafe-card {
    background: white;
  
    padding: 20px;
    margin-bottom: 20px;
  
    border-radius: 14px;
  
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  }
  
  .cafe-card h3 {
    margin-top: 0;
    margin-bottom: 6px;
  
    font-size: 1.7rem;
  }
  
  .cafe-card p {
    margin: 0;
  
    color: #736b66;
  }
  
  h2 {
    font-size: 2.3rem;
  
    margin-bottom: 24px;
  }